/* root */

:root {
    --color-bg-lightblue: #b4d0e7;
    --color-bh-white: #ffffff;
    --color-bg-black: #000000;
    --color-bg-bt-blue: #0061ff;
    --color-bg-box-light-green: #a2d39b;
    --color-bg-box-purple: #61082b;
    --color-bg-box-lightgrey: #f5f5f5;
    --color-bg-box-brown: #d5001f;
    --color-bg-box-lightblue: #0093ce;
    --color-bg-box-red: #ff1c1c;
    --color-bg-box-dark-blue: #0d2481;
    --color-bg-box-yellow: #ffd830;
    --color-grey-soft: #566d7d;
    --color-blue-link: #7272f6;

}




/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* temp */

    /* temp */
    list-style: none;

}

html {

    scroll-behavior: smooth;
}


body {

    font-family: "Open Sans", sans-serif;
    background-color: var(--color-bh-white);
    color: var(--color-bg-black);

}

.debug {

    border: 1px solid red;
}




img {

    width: 100%;
    display: block;
}

.bt-blue {

    background-color: var(--color-bg-bt-blue);
    padding: 15px 15px;
    color: var(--color-bh-white);
    font-size: 1em;
    text-align: center;

}

.bt-blue:hover,
#bt-start:hover,
.enterprise-bt:hover {

    background-color: var(--color-bg-box-dark-blue);

}

.bt-white {

    background-color: var(--color-bg-white);
    padding: 15px 15px;
    color: var(--color-bg-black);
    font-size: 1em;
    border: 1px solid var(--color-bg-black);
    text-decoration: none;

}

.bt-white:hover,
.cta-button:hover,
.bt-single-customer:hover {

    background-color: var(--color-bg-bt-blue);
    color: var(--color-bh-white);
}

a {

    display: inline-block;
}

hr {

    width: 50px;
    color: var(--color-bg-box-lightgrey);
    margin: 25px 0;
}

nav ul:first-child li:not(:first-child) a:hover {

    margin: 0 0 1px 0;
    color: var(--color-bg-black);
    size: 2px;
}

nav ul:last-child li:not(:last-child) a:hover {

    margin: 0 0 1px 0;
    color: var(--color-bg-black);
    size: 2px;
}


/* color bg and txt */

.bg-lightblue {

    background-color: var(--color-bg-lightblue);
}

.bg-bt-blue {

    background-color: var(--color-bg-bt-blue);
}

.bg-green {

    background-color: var(--color-bg-box-light-green);
}

.bg-purple {

    background-color: var(--color-bg-box-purple);
}

.bg-brown {

    background-color: var(--color-bg-box-brown);
}

.bg-box-lightblue {

    background-color: var(--color-bg-box-lightblue);
}

.bg-blue {

    background-color: var(--color-bg-lightblue);
}

.bg-red {

    background-color: var(--color-bg-box-red);
}

.bg-dark-blue {

    background-color: var(--color-bg-box-dark-blue);
}

.bg-yellow {

    background-color: var(--color-bg-box-yellow);
}



.txt-white {

    color: var(--color-bg-white);
}

.txt-black {

    color: var(--color-bg-black);
}

.txt-lightgrey {

    color: gray;
    font-size: 1em;
}

.txt-blue-link {

    color: var(--color-blue-link)
}



/* flex utilities */

.d-flex {

    display: flex;
}

.sp-between {

    justify-content: space-between;
}



.flex-direction {

    flex-direction: row;
}

.wrap {

    flex-wrap: wrap;
}



.ai-center {

    align-items: center;
}

.f-end {

    justify-content: flex-end;
}

.gap {

    gap: 0px 30px;
}



/* spacer */

.padding-section {

    padding-top: 100px;
}

.mg-top-bot {

    margin: 50px 0;
}


.mg-top {

    margin-top: 15px;

}

.mg-left-right {

    margin: 0 15px 0 15px;
}


.mg-left {

    margin-left: 15px;
}

.p-30 {

    padding: 30px;
}


.pd-top-bot {

    padding: 15px 0;
}

.pd-top-bot-30 {

    padding: 30px 0;
}

.pd-top {

    padding-top: 15px;
}



.pd-top-30 {

    padding-top: 30px
}

.pd-bot {

    padding-bottom: 15px;
}

.pd-bot-30 {

    padding-bottom: 30px;
}



.pd-left-right {

    padding: 0 15px 0 15px;
}

.pd-left {

    padding-left: 15px;
}


/* size */

.w-30 {

    width: 30%;
}

.w-70 {

    width: 70%;
}

/* other utilitiers */

.txt-center {

    text-align: center;
}

.special-border {

    border: 1px solid var(--color-bg-box-lightgrey);
    width: 4em;

}

.d-none {

    display: none;
}

.d-inline-block {

    display: inline-block;
}


/* header start*/

header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 1px solid var(--color-grey-soft);
}

/* nav */

nav {

    padding: 15px 15px;
}

#logo {

    width: 100px;
    height: 20px;
}



nav a {

    text-decoration: none;
    color: var(--color-bg-black);
    padding: 0px 15px;
    font-size: 1em;

}

nav a:not(8) {

    color: var(--color-bg-black)
}

#bt-start {

    background-color: var(--color-bg-bt-blue);
    padding: 7px 15px;
    color: var(--color-bg-white);
    font-size: 1em;
    color: white;
}




/* main start*/

/* jumbo */

.container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

#jumbotron {

    background-color: var(--color-bg-box-lightblue);
    padding-top: 60px;


}

#jumbotron .container {

    position: relative;
    top: 70px;
}

h1 {

    font-size: 4em;
    text-align: center;
    padding: 50px 0px 50px;
}

#jumbotron a {

    text-decoration: none;

}

#jumbotron li {

    padding: 15px 0;
}

#jumbotron li:last-child {

    padding-top: 30px
}

.jumbo-content {

    position: relative;
}

#arrow-down {

    font-size: 2.3em;
    color: var(--color-bg-black);
    position: absolute;
    top: 330px;
    left: 0;



}



/* plans */

.container-small {

    max-width: 1000px;
    margin: 0 auto;
}

#plans {

    padding-top: 130px;
    position: relative;
}



div.plans-your-choice input {

    display: inline-block;
    margin: 30px 5px 30px 0;


}


.choice {


    padding: 15px 0;
    border: 1px solid var(--color-bg-box-lightgrey);
}



div#plans h2 {

    font-size: 2.5em;
}

.choice-positioning {

    padding: 15px 0;
    border: 1px solid var(--color-bg-box-lightgrey);
    width: calc((100% - 30px) / 3);


}


div#plans h3 {

    padding: 30px 0 15px 0;
}

.list-title {

    width: 100%;
}

.plans-table {

    padding: 15px;
    border-top: 1px solid var(--color-bg-box-lightgrey);
    background-size: contain;
    background-repeat: no-repeat;
}

.plans-type {

    padding-left: 20px
}

ul.choice-plans li {

    width: 100%;
    display: block;
    padding: 15px 0;
}

.bt-choice {

    margin-top: 30px;
    padding: 15px 30px;
    text-decoration: none;

}




div.plans-highlights h5 {

    padding: 50px 0 30px 20px;
    font-size: 1em;
}

div.plans-highlights li {

    padding: 15px 0;
}

.check {

    color: var(--color-bg-bt-blue);
}

/* enterprise */




.enterprise {

    padding-top: 100px;
}

.enterprise-title,
.enterprise-content {

    border: 2px solid var(--color-bg-box-lightgrey);

}

.p-enterprise {

    padding-top: 65px;

}

div.enterprise-content a,
div.customer-content a {

    text-decoration: none;

}

.enterprise-bt {

    background-color: var(--color-bg-bt-blue);
    padding: 8px 30px;
    color: var(--color-bh-white);
    font-size: 1em;
    text-align: center;
}

/* single-customer */

.images-container {

    width: 70%;
}

.customer-content {

    width: 27%;
    padding-top: 60px;
}





.bt-single-customer {

    display: inline-block;
    margin-top: 40px;
    color: black;
    background-color: var(--color-bg-white);
    padding: 10px 10px;
    color: var(--color-bg-black);
    font-size: 1em;
    border: 1px solid black;
    text-decoration: none;
}


/* partners */




div.partners-content>div {

    width: calc((100% - 60px) / 3);
}

/* business-features */

.business-features {

    padding-top: 80px;
}



div.brand {

    display: flex;
    align-items: center;
    padding: 0 40px;
}

div.brand>div {

    filter: invert();


}

.border-ghost {

    border: 5px solid rgba(black, black, black, 0.5);
}

.logo-container {

    width: 60%;
}

.big-box-container {

    padding: 30px;
}

.c-logo-container {


    padding-right: 100px;
    height: 33%;
}

.big-box-content {

    font-size: 0.7em;

}

.big-box-content {

    height: 20vw;

    overflow-Y: scroll;
    overflow-y: auto;


}




.customers-brand>div {

    width: calc(100% / 3);
    height: calc(100vw / 3);

}

.brand {

    width: 50%;
    height: 50%;

}

/* call-to-action */

#call-to-action {

    padding-top: 80px;
    padding-bottom: 80px;
}



#call-to-action h2 {

    color: var(--color-bg-box-brown);
    font-size: 2.2em;
}



.cta-title {

    width: 50%;
}

.cta-button {

    padding-top: 15px;
    background-color: var(--color-bh-white);
    padding: 5px 40px;
    color: var(--color-bg-black);
    font-size: 1em;
    text-decoration: none;
}

/* FAQ */

#FAQ {

    padding: 80px 80px 0 0;
    height: 120vh;
}

#FAQ h2 {

    padding: 0 0 50px 0;
    border-bottom: 2px solid var(--color-bg-box-lightgrey);
}

#FAQ li {

    padding: 30px 0;
    border-bottom: 2px solid var(--color-bg-box-lightgrey);
    position: relative;

}

#FAQ ul {

    padding: 0 0px 80px 0px;
}

#FAQ li:hover p {

    display: block;

}

#FAQ p {

    display: none;
}

#FAQ i {

    position: absolute;
    left: 850px;
}



/* footer */

footer {

    background-color: var(--color-bg-black);
    color: white;
    padding: 50px 0 0 0;

}

footer h3 {

    padding-bottom: 25px;
}

footer a {

    text-decoration: none;
    color: var(--color-bg-white);
    display: block;
    padding: 5px 0;
}

footer div.special-border {

    width: 100%;
    margin: 80px 0 30px 0;
    border: 1px solid var(--color-bg-box-lightgrey);
}

footer select {

    background-color: var(--color-bg-black);
    color: var(--color-grey-soft);
    margin: 0px 0 25px 2px;
    border: none;

}

.fa-solid {

    color: var(--color-grey-soft);
}

footer a:hover {

    text-decoration: underline;
}