/* root */

:root {
    --color-bg-lightblue: #b4d0e7;
    --color-bg-white: #ffffff;
    --color-bg-black: #000000;
    --color-bg-bt-blue: #0061ff;
    --color-bg-box-light-green: #a2d39b;
    --color-bg-box-purple: #61082b;
    --color-bg-box-lightgrey: #f5f5f5;
    --color-bg-box-brown: #d5001f;
    --color-bg-box-lightblue: #0093ce;
    --color-bg-box-red: #ff1c1c;
    --color-bg-box-dark-blue: #0d2481;
    --color-bg-box-yellow: #ffd830;
}


/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* temp */
    /* border: 1px solid red; */
    /* temp */
    list-style: none;

}

html {

    scroll-behavior: smooth;
}


body {

    font-family: "Open Sans", sans-serif;
    background-color: var(--color-bg-white);
    color: var(--color-bg-black);

}


img {

    width: 100%;
    display: block;
}

.bt-blue {

    background-color: var(--color-bg-bt-blue);
    padding: 5px 15px;
    color: var(--color-bg-white);
    font-size: 1em;
}

/* color bg and txt */

.bg-lightblue {

    background-color: var(--color-bg-lightblue);
}

.bg-bt-blue {

    background-color: var(--color-bg-bt-blue);
}

.txt-white {

    color: var(--color-bg-white);
}

.txt-black {

    font-variant: var(--color-bg-black);
}

/* flex utilities */

.d-flex {

    display: flex;
}

.sp-between {

    justify-content: space-between;
}

.wrap {

    flex-wrap: wrap;
}

.ai-center {

    align-items: center;
}

.f-end {

    justify-content: flex-end;
}

/* spacer */

.mg-top {

    margin-top: 15px;


}


/* size */

.w-30 {

    width: 30%;
}

.w-70 {

    width: 70%;
}


/* header start*/

header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

/* nav */

nav {

    padding: 0 15px;
}

#logo {

    width: 100px;
    height: 20px;
}



nav a {

    text-decoration: none;
    color: var(--color-bg-black);
    padding: 0px 15px;
    font-size: 0.7em;

}

/* jumbo */

.container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

#jumbotron {

    background-color: var(--color-bg-box-lightblue);
    padding-top: 60x;


}

#jumbotron .container {

    position: relative;
    top: 70px;
}

h1 {

    font-size: 4em;
    text-align: center;
    padding: 50px 0px 50px;
}

#jumbotron a {

    text-decoration: none;

}

#jumbotron li {

    padding: 15px 0;
}

#jumbotron li:last-child {

    padding-top: 30px
}

#arrow-down {

    font-size: 2.5em;
    color: var(--color-bg-black);
}



/* main start*/



/* plans */

.container-small {


    max-width: 1000px;
    margin: 0 auto;
}

#plans {

    padding-top: 130px;
}



div#partners>div {

    width: calc(100% / 3);

}

#plans {

    /* margin-top: 100px; */
}



/* footer */

footer {

    background-color: var(--color-bg-black);
    color: white
}

footer a {

    text-decoration: none;
    color: var(--color-bg-white)
}